In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "tensorflow"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils


keras.backend.set_floatx('float64')

from keras.utils import np_utils


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    # K.set_session(sess)

set_reproducible()

Using TensorFlow backend.

# Build a Keras Model

In [2]:

def create_model():
    from keras.models import Sequential
    from keras.layers.core import Dense, Activation, Dropout
    from keras.utils import np_utils

    model = Sequential()
    model.add(Dense(5, input_shape=(4,) , activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(3))
    model.add(Activation('softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [3]:
iris  = datasets.load_iris()
train_X, test_X, train_y, test_y = train_test_split(iris.data, iris.target, train_size=0.8, test_size=0.2, random_state=1960)

In [4]:

from keras.wrappers.scikit_learn import KerasClassifier

clf = KerasClassifier(build_fn=create_model, epochs=12, verbose=0)

print(train_X.shape , train_y.shape)
clf.fit(train_X, train_y, verbose=0)

(120, 4) (120,)

In [5]:
print(clf.model.__dict__)

{'name': 'sequential_1', 'trainable': True, '_is_compiled': True, '_expects_training_arg': False, '_initial_weights': None, 'supports_masking': False, 'optimizer': <keras.optimizers.Adam object at 0x7fc0727f3128>, '_updates': [], '_losses': [], '_per_input_losses': {}, '_per_input_updates': {}, '_layers': [<keras.engine.input_layer.InputLayer object at 0x7fc076a93278>, <keras.layers.core.Dense object at 0x7fc076a87b38>, <keras.layers.core.Dropout object at 0x7fc076a93358>, <keras.layers.core.Dense object at 0x7fc076a931d0>, <keras.layers.core.Activation object at 0x7fc076a93320>], '_outbound_nodes': [], '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc0d5d03160>], '_is_graph_network': True, '_uses_inputs_arg': True, 'outputs': [<tf.Tensor 'activation_1/Softmax:0' shape=(?, 3) dtype=float64>], 'inputs': [<tf.Tensor 'dense_1_input:0' shape=(?, 4) dtype=float64>], '_built': True, '_compute_previous_mask': True, '_input_layers': [<keras.engine.input_layer.InputLayer object at 0x7fc076a93278>], '_output_layers': [<keras.layers.core.Activation object at 0x7fc076a93320>], '_input_coordinates': [(<keras.engine.input_layer.InputLayer object at 0x7fc076a93278>, 0, 0)], '_output_coordinates': [(<keras.layers.core.Activation object at 0x7fc076a93320>, 0, 0)], '_output_mask_cache': {'140464601248768_10720512': None}, '_output_tensor_cache': {}, '_output_shape_cache': {}, '_network_nodes': {'activation_1_ib-0', 'dropout_1_ib-0', 'dense_2_ib-0', 'dense_1_ib-0', 'dense_1_input_ib-0'}, '_nodes_by_depth': {0: [<keras.engine.base_layer.Node object at 0x7fc0727f39e8>], 1: [<keras.engine.base_layer.Node object at 0x7fc076a93ac8>], 2: [<keras.engine.base_layer.Node object at 0x7fc076a93a58>], 3: [<keras.engine.base_layer.Node object at 0x7fc076a93160>], 4: [<keras.engine.base_layer.Node object at 0x7fc076a932e8>]}, '_layers_by_depth': {0: [<keras.layers.core.Activation object at 0x7fc076a93320>], 1: [<keras.layers.core.Dense object at 0x7fc076a931d0>], 2: [<keras.layers.core.Dropout object at 0x7fc076a93358>], 3: [<keras.layers.core.Dense object at 0x7fc076a87b38>], 4: [<keras.engine.input_layer.InputLayer object at 0x7fc076a93278>]}, 'input_names': ['dense_1_input'], 'output_names': ['activation_1'], '_feed_input_names': ['dense_1_input'], '_feed_inputs': [<tf.Tensor 'dense_1_input:0' shape=(?, 4) dtype=float64>], '_feed_input_shapes': [(None, 4)], 'loss': 'categorical_crossentropy', 'metrics': [], 'loss_weights': None, 'sample_weight_mode': None, 'weighted_metrics': None, 'loss_functions': [<function categorical_crossentropy at 0x7fc0843c70d0>], '_feed_outputs': [<tf.Tensor 'activation_1/Softmax:0' shape=(?, 3) dtype=float64>], '_feed_output_names': ['activation_1'], '_feed_output_shapes': [(None, 3)], '_feed_loss_fns': [<function categorical_crossentropy at 0x7fc0843c70d0>], 'targets': [<tf.Tensor 'activation_1_target:0' shape=(?, ?) dtype=float64>], '_feed_targets': [<tf.Tensor 'activation_1_target:0' shape=(?, ?) dtype=float64>], 'sample_weight_modes': [None], '_feed_sample_weight_modes': [None], 'metrics_names': ['loss'], 'metrics_tensors': [], 'metrics_updates': [], 'stateful_metric_names': [], 'stateful_metric_functions': [], 'total_loss': <tf.Tensor 'loss/mul:0' shape=() dtype=float64>, 'sample_weights': [<tf.Tensor 'activation_1_sample_weights:0' shape=(?,) dtype=float64>], '_feed_sample_weights': [<tf.Tensor 'activation_1_sample_weights:0' shape=(?,) dtype=float64>], '_function_kwargs': {}, 'train_function': <keras.backend.tensorflow_backend.Function object at 0x7fc072755f98>, 'test_function': None, 'predict_function': None, '_collected_trainable_weights': [<tf.Variable 'dense_1/kernel:0' shape=(4, 5) dtype=float64_ref>, <tf.Variable 'dense_1/bias:0' shape=(5,) dtype=float64_ref>, <tf.Variable 'dense_2/kernel:0' shape=(5, 3) dtype=float64_ref>, <tf.Variable 'dense_2/bias:0' shape=(3,) dtype=float64_ref>], 'history': <keras.callbacks.History object at 0x7fc0ae37b208>, 'stop_training': False}

In [6]:
print(test_X.shape)
preds = clf.predict(test_X[0,:].reshape(1,4))
print(preds)

(30, 4)
[2]

# Generate SQL Code from the Model

In [7]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

# no luck for the web service... pickling feature of tensorflow and/or keras objects seems not to be a priority.
# there is a lot of github issues in the two projects when I search for pickle keyword!!!.

def test_ws_sql_gen(pickle_data):
    WS_URL="http://localhost:1888/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;



def test_sql_gen(keras_regressor , metadata):
    import sklearn2sql.PyCodeGenerator as codegen
    cg1 = codegen.cAbstractCodeGenerator();
    cg1.mOptions.mActivateMaterialization = False
    lSQL = cg1.generateCodeWithMetadata(clf, metadata, dsn = None, dialect = "postgresql");
    return lSQL[1]

In [8]:
# commented .. see above
# pickle_data = pickle.dumps(clf)
# lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [9]:
lMetaData = {}
lMetaData['features'] = list(iris.feature_names);
#column name adaptation
lMetaData['features'] = [col.replace(" (cm)" , "_cm") for col in lMetaData['features'] ]

lMetaData["targets"] = ['TGT']
lMetaData['primary_key'] = 'KEY'
lMetaData['table'] = 'iris'

    
lSQL = test_sql_gen(clf , lMetaData)

cGenerationWrapperFactory::createWrapper() <class 'keras.wrappers.scikit_learn.KerasClassifier'>
cClassifierMixin_CodeGenWrapper::setObject <class 'keras.wrappers.scikit_learn.KerasClassifier'>
BACKEND_DIALECT postgresql
CREATING_DATABASE_BACKEND_DSN_DIALECT 1.2.7 None postgresql
KERAS_GENERATE_EXPRESSION_START <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
{'mKerasData': <keras.wrappers.scikit_learn.KerasClassifier object at 0x7fc076a87828>, 'mFeatureNames': ['sepal length_cm', 'sepal width_cm', 'petal length_cm', 'petal width_cm'], 'mClasses': array([0, 1, 2]), 'mMode': 'Classification'}
{'build_fn': <function create_model at 0x7fc076a79f28>, 'sk_params': {'epochs': 12, 'verbose': 0}, 'classes_': array([0, 1, 2]), 'n_classes_': 3, 'model': <keras.engine.sequential.Sequential object at 0x7fc076a87ac8>}
GENERATING_LAYER 0 dense_1 <class 'keras.layers.core.Dense'> {'input_spec': InputSpec(min_ndim=2, axes={-1: 4}), 'supports_masking': True, 'stateful': False, '_trainable_weights': [<tf.Variable 'dense_1/kernel:0' shape=(4, 5) dtype=float64_ref>, <tf.Variable 'dense_1/bias:0' shape=(5,) dtype=float64_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc076a93160>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc076a93a58>], 'name': 'dense_1', 'trainable': True, 'batch_input_shape': (None, 4), 'dtype': 'float64', '_initial_weights': None, 'units': 5, 'activation': <function relu at 0x7fc0843efc80>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7fc076a93048>, 'bias_initializer': <keras.initializers.Zeros object at 0x7fc076a93240>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_1/kernel:0' shape=(4, 5) dtype=float64_ref>, 'bias': <tf.Variable 'dense_1/bias:0' shape=(5,) dtype=float64_ref>}
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
LAYER_GENERATE_CODE_START dense_1 (None, 4)
(4, 5) 5
LAYER_GENERATE_CODE_END dense_1
GENERATING_LAYER 1 dropout_1 <class 'keras.layers.core.Dropout'> {'input_spec': None, 'supports_masking': True, 'stateful': False, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc076a93a58>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc076a93ac8>], 'name': 'dropout_1', 'trainable': True, '_initial_weights': None, 'rate': 0.3, 'noise_shape': None, 'seed': None}
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dropout'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dropout'>
LAYER_GENERATE_CODE_START dropout_1 (None, 5)
LAYER_GENERATE_CODE_END dropout_1
GENERATING_LAYER 2 dense_2 <class 'keras.layers.core.Dense'> {'input_spec': InputSpec(min_ndim=2, axes={-1: 5}), 'supports_masking': True, 'stateful': False, '_trainable_weights': [<tf.Variable 'dense_2/kernel:0' shape=(5, 3) dtype=float64_ref>, <tf.Variable 'dense_2/bias:0' shape=(3,) dtype=float64_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc076a93ac8>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc0727f39e8>], 'name': 'dense_2', 'trainable': True, '_initial_weights': None, 'units': 3, 'activation': <function linear at 0x7fc0843efea0>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7fc072a34f28>, 'bias_initializer': <keras.initializers.Zeros object at 0x7fc0d5d032b0>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_2/kernel:0' shape=(5, 3) dtype=float64_ref>, 'bias': <tf.Variable 'dense_2/bias:0' shape=(3,) dtype=float64_ref>}
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
LAYER_GENERATE_CODE_START dense_2 (None, 5)
(5, 3) 6
LAYER_GENERATE_CODE_END dense_2
GENERATING_LAYER 3 activation_1 <class 'keras.layers.core.Activation'> {'input_spec': None, 'supports_masking': True, 'stateful': False, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fc0727f39e8>], '_outbound_nodes': [], 'name': 'activation_1', 'trainable': True, '_initial_weights': None, 'activation': <function softmax at 0x7fc0843ef9d8>}
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Activation'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Activation'>
LAYER_GENERATE_CODE_START activation_1 (None, 3)
COMPUTE_ACTIVATION <function softmax at 0x7fc0843ef9d8> <class 'function'> softmax
LAYER_GENERATE_CODE_END activation_1
KERAS_CODE_GENERATION_END <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
TEMP_SQLS []
FINAL_SQL WITH keras_input AS
(SELECT "ADS"."KEY"...ba" AS "DecisionProba"
FROM arg_max_cte

In [10]:
print(lSQL)

WITH keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."sepal length_cm" AS "sepal length_cm", "ADS"."sepal width_cm" AS "sepal width_cm", "ADS"."petal length_cm" AS "petal length_cm", "ADS"."petal width_cm" AS "petal width_cm"
FROM iris AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."sepal length_cm" AS "sepal length_cm", keras_input."sepal width_cm" AS "sepal width_cm", keras_input."petal length_cm" AS "petal length_cm", keras_input."petal width_cm" AS "petal width_cm"
FROM keras_input),
layer_dense_1 AS
(SELECT keras_input_1."KEY" AS "KEY", 0.038228313704767404 + -0.10549971165225797 * keras_input_1."sepal length_cm" + 0.687021141477052 * keras_input_1."sepal width_cm" + 0.0736250137994688 * keras_input_1."petal length_cm" + -0.1229013269524524 * keras_input_1."petal width_cm" AS output_1, -0.004227162764735863 + 0.4498965733786842 * keras_input_1."sepal length_cm" + -0.0016264613446735614 * keras_input_1."sepal width_cm" + -0.1449487756556122 * keras_input_1."petal length_cm" + 0.8404356748715474 * keras_input_1."petal width_cm" AS output_2, -0.044785674387018415 + 0.17794199595319157 * keras_input_1."sepal length_cm" + -0.33497971236022955 * keras_input_1."sepal width_cm" + 0.03103465387971553 * keras_input_1."petal length_cm" + -0.0075469261321470475 * keras_input_1."petal width_cm" AS output_3, -0.043292478210551925 + 0.7013138379676999 * keras_input_1."sepal length_cm" + 0.5786260109914619 * keras_input_1."sepal width_cm" + -0.41829647580921436 * keras_input_1."petal length_cm" + 0.33755092067528286 * keras_input_1."petal width_cm" AS output_4, 0.0 + -0.2435283836134725 * keras_input_1."sepal length_cm" + 0.4004721524270922 * keras_input_1."sepal width_cm" + -0.7896110374245525 * keras_input_1."petal length_cm" + -0.510125423105696 * keras_input_1."petal width_cm" AS output_5
FROM keras_input_1),
activation_relu AS
(SELECT layer_dense_1."KEY" AS "KEY", greatest(layer_dense_1.output_1, 0) AS output_1, greatest(layer_dense_1.output_2, 0) AS output_2, greatest(layer_dense_1.output_3, 0) AS output_3, greatest(layer_dense_1.output_4, 0) AS output_4, greatest(layer_dense_1.output_5, 0) AS output_5
FROM layer_dense_1),
activation_relu_1 AS
(SELECT activation_relu."KEY" AS "KEY", activation_relu.output_1 AS output_1, activation_relu.output_2 AS output_2, activation_relu.output_3 AS output_3, activation_relu.output_4 AS output_4, activation_relu.output_5 AS output_5
FROM activation_relu),
activation_relu_1_1 AS
(SELECT activation_relu_1."KEY" AS "KEY", activation_relu_1.output_1 AS output_1, activation_relu_1.output_2 AS output_2, activation_relu_1.output_3 AS output_3, activation_relu_1.output_4 AS output_4, activation_relu_1.output_5 AS output_5
FROM activation_relu_1),
layer_dense_2 AS
(SELECT activation_relu_1_1."KEY" AS "KEY", -0.04120627197901218 + -0.5981026631074549 * activation_relu_1_1.output_1 + -0.5910029353712983 * activation_relu_1_1.output_2 + 0.8264440035036895 * activation_relu_1_1.output_3 + -0.03591494000874332 * activation_relu_1_1.output_4 + 0.015375282954432579 * activation_relu_1_1.output_5 AS output_1, 0.04615565977961058 + -0.1671019855238231 * activation_relu_1_1.output_1 + -0.4511739162660771 * activation_relu_1_1.output_2 + -0.2568053796538913 * activation_relu_1_1.output_3 + -0.7990630360742299 * activation_relu_1_1.output_4 + 0.39905935927156855 * activation_relu_1_1.output_5 AS output_2, 0.011523202511053505 + -0.15405689539601738 * activation_relu_1_1.output_1 + 0.04741596548675523 * activation_relu_1_1.output_2 + -0.3284418167583561 * activation_relu_1_1.output_3 + -0.5709764082315227 * activation_relu_1_1.output_4 + -0.10397533411660875 * activation_relu_1_1.output_5 AS output_3
FROM activation_relu_1_1),
layer_dense_2_1 AS
(SELECT layer_dense_2."KEY" AS "KEY", layer_dense_2.output_1 AS output_1, layer_dense_2.output_2 AS output_2, layer_dense_2.output_3 AS output_3
FROM layer_dense_2),
score_soft_max_step1 AS
(SELECT layer_dense_2_1."KEY" AS "KEY", layer_dense_2_1.output_1 AS "Score_0", exp(least(greatest(-100.0, layer_dense_2_1.output_1), 100.0)) AS "exp_Score_0", layer_dense_2_1.output_2 AS "Score_1", exp(least(greatest(-100.0, layer_dense_2_1.output_2), 100.0)) AS "exp_Score_1", layer_dense_2_1.output_3 AS "Score_2", exp(least(greatest(-100.0, layer_dense_2_1.output_3), 100.0)) AS "exp_Score_2"
FROM layer_dense_2_1),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_Score" AS "exp_Score"
FROM (SELECT score_soft_max_step1."KEY" AS "KEY", 0 AS class, score_soft_max_step1."exp_Score_0" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 1 AS class, score_soft_max_step1."exp_Score_1" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 2 AS class, score_soft_max_step1."exp_Score_2" AS "exp_Score"
FROM score_soft_max_step1) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_step1."KEY" AS "KEY", score_soft_max_step1."Score_0" AS "Score_0", score_soft_max_step1."exp_Score_0" AS "exp_Score_0", score_soft_max_step1."Score_1" AS "Score_1", score_soft_max_step1."exp_Score_1" AS "exp_Score_1", score_soft_max_step1."Score_2" AS "Score_2", score_soft_max_step1."exp_Score_2" AS "exp_Score_2", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpScore" AS "sum_ExpScore"
FROM score_soft_max_step1 LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_Score") AS "sum_ExpScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_step1."KEY" = sum_exp_t."KEY_sum"),
layer_softmax AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."exp_Score_0" / score_soft_max."sum_ExpScore" AS output_1, score_soft_max."exp_Score_1" / score_soft_max."sum_ExpScore" AS output_2, score_soft_max."exp_Score_2" / score_soft_max."sum_ExpScore" AS output_3
FROM score_soft_max),
orig_cte AS
(SELECT layer_softmax."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_0", CAST(NULL AS FLOAT) AS "Score_1", CAST(NULL AS FLOAT) AS "Score_2", layer_softmax.output_1 AS "Proba_0", layer_softmax.output_2 AS "Proba_1", layer_softmax.output_3 AS "Proba_2", CAST(NULL AS FLOAT) AS "LogProba_0", CAST(NULL AS FLOAT) AS "LogProba_1", CAST(NULL AS FLOAT) AS "LogProba_2", CAST(NULL AS BIGINT) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM layer_softmax),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 0 AS class, orig_cte."LogProba_0" AS "LogProba", orig_cte."Proba_0" AS "Proba", orig_cte."Score_0" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 1 AS class, orig_cte."LogProba_1" AS "LogProba", orig_cte."Proba_1" AS "Proba", orig_cte."Score_1" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 2 AS class, orig_cte."LogProba_2" AS "LogProba", orig_cte."Proba_2" AS "Proba", orig_cte."Score_2" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_0" AS "Score_0", orig_cte."Score_1" AS "Score_1", orig_cte."Score_2" AS "Score_2", orig_cte."Proba_0" AS "Proba_0", orig_cte."Proba_1" AS "Proba_1", orig_cte."Proba_2" AS "Proba_2", orig_cte."LogProba_0" AS "LogProba_0", orig_cte."LogProba_1" AS "LogProba_1", orig_cte."LogProba_2" AS "LogProba_2", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Proba" AS "max_Proba"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Proba") AS "max_Proba"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba"
FROM score_class_union LEFT OUTER JOIN score_max ON score_class_union."KEY_u" = score_max."KEY"),
arg_max_cte AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba", "arg_max_t_Proba"."KEY_Proba" AS "KEY_Proba", "arg_max_t_Proba"."arg_max_Proba" AS "arg_max_Proba"
FROM score_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Proba", max(union_with_max.class) AS "arg_max_Proba"
FROM union_with_max
WHERE union_with_max."max_Proba" <= union_with_max."Proba" GROUP BY union_with_max."KEY") AS "arg_max_t_Proba" ON score_max."KEY" = "arg_max_t_Proba"."KEY_Proba")
 SELECT arg_max_cte."KEY" AS "KEY", arg_max_cte."Score_0" AS "Score_0", arg_max_cte."Score_1" AS "Score_1", arg_max_cte."Score_2" AS "Score_2", arg_max_cte."Proba_0" AS "Proba_0", arg_max_cte."Proba_1" AS "Proba_1", arg_max_cte."Proba_2" AS "Proba_2", CASE WHEN (arg_max_cte."Proba_0" IS NULL OR arg_max_cte."Proba_0" > 0.0) THEN ln(arg_max_cte."Proba_0") ELSE -1.79769313486231e+308 END AS "LogProba_0", CASE WHEN (arg_max_cte."Proba_1" IS NULL OR arg_max_cte."Proba_1" > 0.0) THEN ln(arg_max_cte."Proba_1") ELSE -1.79769313486231e+308 END AS "LogProba_1", CASE WHEN (arg_max_cte."Proba_2" IS NULL OR arg_max_cte."Proba_2" > 0.0) THEN ln(arg_max_cte."Proba_2") ELSE -1.79769313486231e+308 END AS "LogProba_2", arg_max_cte."arg_max_Proba" AS "Decision", arg_max_cte."max_Proba" AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [11]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(iris.data);
lTable.columns = lMetaData['features']
lTable['TGT'] = iris.target
lTable['KEY'] = range(iris.data.shape[0])
lTable.to_sql(lMetaData['table'] , conn,   if_exists='replace', index=False)

In [12]:
sql_output = pd.read_sql(lSQL , conn);
conn.close()

In [13]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.334680,0.035035,0.630285,-1.094581,-3.351409,-0.461583,2,0.630285
74,74,None,None,None,0.478222,0.032277,0.489501,-0.737680,-3.433394,-0.714369,2,0.489501
9,9,None,None,None,0.547938,0.050930,0.401132,-0.601593,-2.977311,-0.913464,0,0.547938
88,88,None,None,None,0.403941,0.046353,0.549706,-0.906485,-3.071476,-0.598372,2,0.549706
25,25,None,None,None,0.541158,0.049134,0.409708,-0.614044,-3.013206,-0.892311,0,0.541158
5,5,None,None,None,0.544959,0.035085,0.419957,-0.607046,-3.349985,-0.867604,0,0.544959
48,48,None,None,None,0.561679,0.038144,0.400177,-0.576825,-3.266375,-0.915849,0,0.561679
117,117,None,None,None,0.367306,0.020673,0.612021,-1.001559,-3.878929,-0.490989,2,0.612021
83,83,None,None,None,0.412460,0.042495,0.545045,-0.885616,-3.158363,-0.606888,2,0.545045
105,105,None,None,None,0.441219,0.022160,0.536622,-0.818214,-3.809486,-0.622462,2,0.536622
27,27,None,None,None,0.556613,0.040986,0.402400,-0.585884,-3.194518,-0.910308,0,0.556613
64,64,None,None,None,0.430026,0.041621,0.528353,-0.843910,-3.179152,-0.637990,2,0.528353

# Keras Prediction

In [14]:
keras_output = pd.DataFrame()
keras_output_key = pd.DataFrame(list(range(iris.data.shape[0])), columns=['KEY']);
keras_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
keras_output_proba = pd.DataFrame(clf.predict_proba(iris.data), columns=['Proba_0', 'Proba_1', 'Proba_2'])
keras_output = pd.concat([keras_output_key, keras_output_score, keras_output_proba] , axis=1)
for class_label in [0, 1, 2]:
    keras_output['LogProba_' + str(class_label)] = np.log(keras_output_proba['Proba_' + str(class_label)])
keras_output['Decision'] = clf.predict(iris.data)
keras_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.334680,0.035035,0.630285,-1.094581,-3.351409,-0.461583,2
74,74,NaN,NaN,NaN,0.478222,0.032277,0.489501,-0.737680,-3.433394,-0.714369,2
9,9,NaN,NaN,NaN,0.547938,0.050930,0.401132,-0.601593,-2.977311,-0.913464,0
88,88,NaN,NaN,NaN,0.403941,0.046353,0.549706,-0.906485,-3.071476,-0.598372,2
25,25,NaN,NaN,NaN,0.541158,0.049134,0.409708,-0.614044,-3.013206,-0.892311,0
5,5,NaN,NaN,NaN,0.544959,0.035085,0.419957,-0.607046,-3.349985,-0.867604,0
48,48,NaN,NaN,NaN,0.561679,0.038144,0.400177,-0.576825,-3.266375,-0.915849,0
117,117,NaN,NaN,NaN,0.367306,0.020673,0.612021,-1.001559,-3.878929,-0.490989,2
83,83,NaN,NaN,NaN,0.412460,0.042495,0.545045,-0.885616,-3.158363,-0.606888,2
105,105,NaN,NaN,NaN,0.441219,0.022160,0.536622,-0.818214,-3.809486,-0.622462,2
27,27,NaN,NaN,NaN,0.556613,0.040986,0.402400,-0.585884,-3.194518,-0.910308,0
64,64,NaN,NaN,NaN,0.430026,0.041621,0.528353,-0.843910,-3.179152,-0.637990,2

# Comparing the SQL and Keras Predictions

In [15]:
sql_keras_join = keras_output.join(sql_output , how='left', on='KEY', lsuffix='_keras', rsuffix='_sql')

In [16]:
sql_keras_join.head(12)

,KEY_keras,Score_0_keras,Score_1_keras,Score_2_keras,Proba_0_keras,Proba_1_keras,Proba_2_keras,LogProba_0_keras,LogProba_1_keras,LogProba_2_keras,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
0,0,NaN,NaN,NaN,0.556833,0.041777,0.401390,-0.585489,-3.175414,-0.912822,...,None,None,0.556833,0.041777,0.401390,-0.585489,-3.175414,-0.912822,0,0.556833
1,1,NaN,NaN,NaN,0.545817,0.048850,0.405333,-0.605472,-3.018995,-0.903046,...,None,None,0.545817,0.048850,0.405333,-0.605472,-3.018995,-0.903046,0,0.545817
2,2,NaN,NaN,NaN,0.542607,0.050613,0.406780,-0.611371,-2.983548,-0.899482,...,None,None,0.542607,0.050613,0.406780,-0.611371,-2.983548,-0.899482,0,0.542607
3,3,NaN,NaN,NaN,0.528508,0.056281,0.415210,-0.637697,-2.877390,-0.878970,...,None,None,0.528508,0.056281,0.415210,-0.637697,-2.877390,-0.878970,0,0.528508
4,4,NaN,NaN,NaN,0.553069,0.043067,0.403864,-0.592273,-3.144992,-0.906677,...,None,None,0.553069,0.043067,0.403864,-0.592273,-3.144992,-0.906677,0,0.553069
5,5,NaN,NaN,NaN,0.544959,0.035085,0.419957,-0.607046,-3.349985,-0.867604,...,None,None,0.544959,0.035085,0.419957,-0.607046,-3.349985,-0.867604,0,0.544959
6,6,NaN,NaN,NaN,0.528569,0.051131,0.420300,-0.637582,-2.973359,-0.866787,...,None,None,0.528569,0.051131,0.420300,-0.637582,-2.973359,-0.866787,0,0.528569
7,7,NaN,NaN,NaN,0.547648,0.045382,0.406970,-0.602123,-3.092633,-0.899016,...,None,None,0.547648,0.045382,0.406970,-0.602123,-3.092633,-0.899016,0,0.547648
8,8,NaN,NaN,NaN,0.522872,0.061514,0.415613,-0.648418,-2.788486,-0.878000,...,None,None,0.522872,0.061514,0.415613,-0.648418,-2.788486,-0.878000,0,0.522872
9,9,NaN,NaN,NaN,0.547938,0.050930,0.401132,-0.601593,-2.977311,-0.913464,...,None,None,0.547938,0.050930,0.401132,-0.601593,-2.977311,-0.913464,0,0.547938
10,10,NaN,NaN,NaN,0.565801,0.036486,0.397713,-0.569513,-3.310839,-0.922024,...,None,None,0.565801,0.036486,0.397713,-0.569513,-3.310839,-0.922024,0,0.565801
11,11,NaN,NaN,NaN,0.534456,0.050773,0.414771,-0.626506,-2.980394,-0.880028,...,None,None,0.534456,0.050773,0.414771,-0.626506,-2.980394,-0.880028,0,0.534456

In [17]:
condition = (sql_keras_join.Decision_sql != sql_keras_join.Decision_keras)
sql_keras_join[condition]

Empty DataFrame
Columns: [KEY_keras, Score_0_keras, Score_1_keras, Score_2_keras, Proba_0_keras, Proba_1_keras, Proba_2_keras, LogProba_0_keras, LogProba_1_keras, LogProba_2_keras, Decision_keras, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]