In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "cntk"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils


keras.backend.set_floatx('float32')

from keras.utils import np_utils


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    # K.set_session(sess)

set_reproducible()

Using CNTK backend
/home/antoine/.local/lib/python3.6/site-packages/keras/backend/cntk_backend.py:22: UserWarning: CNTK backend warning: GPU is not detected. CNTK's CPU version is not fully optimized,please run with GPU to get better performance.
  'CNTK backend warning: GPU is not detected. '

# Build a Keras Model

In [2]:

def create_model():
    from keras.models import Sequential
    from keras.layers.core import Dense, Activation, Dropout
    from keras.utils import np_utils

    model = Sequential()
    model.add(Dense(5, input_shape=(4,) , activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(3))
    model.add(Activation('softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [3]:
iris  = datasets.load_iris()
iris.data = iris.data.astype(np.float32)
train_X, test_X, train_y, test_y = train_test_split(iris.data, iris.target, train_size=0.8, test_size=0.2, random_state=1960)

In [4]:

from keras.wrappers.scikit_learn import KerasClassifier

clf = KerasClassifier(build_fn=create_model, epochs=12, verbose=0)

print(train_X.shape , train_y.shape)
clf.fit(train_X, train_y, verbose=0)

(120, 4) (120,)

In [5]:
print(clf.model.__dict__)

{'name': 'sequential_1', 'trainable': True, '_is_compiled': True, '_expects_training_arg': False, '_initial_weights': None, 'supports_masking': False, 'optimizer': <keras.optimizers.Adam object at 0x7f7d08583358>, '_updates': [], '_losses': [], '_per_input_losses': {}, '_per_input_updates': {}, '_layers': [<keras.engine.input_layer.InputLayer object at 0x7f7d085d1668>, <keras.layers.core.Dense object at 0x7f7d085d1c18>, <keras.layers.core.Dropout object at 0x7f7d085d1a20>, <keras.layers.core.Dense object at 0x7f7d085d16a0>, <keras.layers.core.Activation object at 0x7f7d08583208>], '_outbound_nodes': [], '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d085d16d8>], '_is_graph_network': True, '_uses_inputs_arg': True, 'outputs': [Composite(Softmax): Input('dense_1_input', [#], [4]) -> Output('Softmax43_Output_0', [#], [3])], 'inputs': [Input('dense_1_input', [#], [4])], '_built': True, '_compute_previous_mask': True, '_input_layers': [<keras.engine.input_layer.InputLayer object at 0x7f7d085d1668>], '_output_layers': [<keras.layers.core.Activation object at 0x7f7d08583208>], '_input_coordinates': [(<keras.engine.input_layer.InputLayer object at 0x7f7d085d1668>, 0, 0)], '_output_coordinates': [(<keras.layers.core.Activation object at 0x7f7d08583208>, 0, 0)], '_output_mask_cache': {'140176773574048_10720512': None}, '_output_tensor_cache': {}, '_output_shape_cache': {}, '_network_nodes': {'dense_2_ib-0', 'dense_1_input_ib-0', 'dense_1_ib-0', 'activation_1_ib-0', 'dropout_1_ib-0'}, '_nodes_by_depth': {0: [<keras.engine.base_layer.Node object at 0x7f7d08583390>], 1: [<keras.engine.base_layer.Node object at 0x7f7d085831d0>], 2: [<keras.engine.base_layer.Node object at 0x7f7d085d1a90>], 3: [<keras.engine.base_layer.Node object at 0x7f7d0f50fb38>], 4: [<keras.engine.base_layer.Node object at 0x7f7d085d1d68>]}, '_layers_by_depth': {0: [<keras.layers.core.Activation object at 0x7f7d08583208>], 1: [<keras.layers.core.Dense object at 0x7f7d085d16a0>], 2: [<keras.layers.core.Dropout object at 0x7f7d085d1a20>], 3: [<keras.layers.core.Dense object at 0x7f7d085d1c18>], 4: [<keras.engine.input_layer.InputLayer object at 0x7f7d085d1668>]}, 'input_names': ['dense_1_input'], 'output_names': ['activation_1'], '_feed_input_names': ['dense_1_input'], '_feed_inputs': [Input('dense_1_input', [#], [4])], '_feed_input_shapes': [(None, 4)], 'loss': 'categorical_crossentropy', 'metrics': [], 'loss_weights': None, 'sample_weight_mode': None, 'weighted_metrics': None, 'loss_functions': [<function categorical_crossentropy at 0x7f7d2527a598>], '_feed_outputs': [Composite(Softmax): Input('dense_1_input', [#], [4]) -> Output('Softmax43_Output_0', [#], [3])], '_feed_output_names': ['activation_1'], '_feed_output_shapes': [(None, 3)], '_feed_loss_fns': [<function categorical_crossentropy at 0x7f7d2527a598>], 'targets': [Input('activation_1_target', [#], [*])], '_feed_targets': [Input('activation_1_target', [#], [*])], 'sample_weight_modes': [None], '_feed_sample_weight_modes': [None], 'metrics_names': ['loss'], 'metrics_tensors': [], 'metrics_updates': [], 'stateful_metric_names': [], 'stateful_metric_functions': [], 'total_loss': Composite(ElementTimes): Input('activation_1_target', [#], [*]), Input('dense_1_input', [#], [4]), Input('activation_1_sample_weights', [#], []) -> Output('ElementTimes140_Output_0', [], []), 'sample_weights': [Input('activation_1_sample_weights', [#], [])], '_feed_sample_weights': [Input('activation_1_sample_weights', [#], [])], '_function_kwargs': {}, 'train_function': <keras.backend.cntk_backend.Function object at 0x7f7d085836a0>, 'test_function': None, 'predict_function': None, '_collected_trainable_weights': [Parameter('dense_1/kernel', [], [4 x 5]), Parameter('dense_1/bias', [], [5]), Parameter('dense_2/kernel', [], [5 x 3]), Parameter('dense_2/bias', [], [3])], 'history': <keras.callbacks.History object at 0x7f7d08583438>, 'stop_training': False}

In [6]:
print(test_X.shape)
preds = clf.predict(test_X[0,:].reshape(1,4))
print(preds)

(30, 4)
[2]

# Generate SQL Code from the Model

In [7]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

# no luck for the web service... pickling feature of tensorflow and/or keras objects seems not to be a priority.
# there is a lot of github issues in the two projects when I search for pickle keyword!!!.

def test_ws_sql_gen(pickle_data):
    WS_URL="http://localhost:1888/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;



def test_sql_gen(keras_regressor , metadata):
    import sklearn2sql.PyCodeGenerator as codegen
    cg1 = codegen.cAbstractCodeGenerator();
    cg1.mOptions.mActivateMaterialization = False
    lSQL = cg1.generateCodeWithMetadata(clf, metadata, dsn = None, dialect = "postgresql");
    return lSQL[1]

In [8]:
# commented .. see above
# pickle_data = pickle.dumps(clf)
# lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [9]:
lMetaData = {}
lMetaData['features'] = list(iris.feature_names);
#column name adaptation
lMetaData['features'] = [col.replace(" (cm)" , "_cm") for col in lMetaData['features'] ]

lMetaData["targets"] = ['TGT']
lMetaData['primary_key'] = 'KEY'
lMetaData['table'] = 'iris'

    
lSQL = test_sql_gen(clf , lMetaData)

cGenerationWrapperFactory::createWrapper() <class 'keras.wrappers.scikit_learn.KerasClassifier'>
cClassifierMixin_CodeGenWrapper::setObject <class 'keras.wrappers.scikit_learn.KerasClassifier'>
BACKEND_DIALECT postgresql
CREATING_DATABASE_BACKEND_DSN_DIALECT 1.2.7 None postgresql
KERAS_GENERATE_EXPRESSION_START <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
{'mKerasData': <keras.wrappers.scikit_learn.KerasClassifier object at 0x7f7d085d1cf8>, 'mFeatureNames': ['sepal length_cm', 'sepal width_cm', 'petal length_cm', 'petal width_cm'], 'mClasses': array([0, 1, 2]), 'mMode': 'Classification'}
{'build_fn': <function create_model at 0x7f7d085d9f28>, 'sk_params': {'epochs': 12, 'verbose': 0}, 'classes_': array([0, 1, 2]), 'n_classes_': 3, 'model': <keras.engine.sequential.Sequential object at 0x7f7d085d1b70>}
ABSTRACT_GENERATE_CTE keras_input keras_input 5 False False
ABSTRACT_GENERATE_SIMPLE_CTE keras_input 5
GENERATING_LAYER 0 dense_1 <class 'keras.layers.core.Dense'> {'input_spec': InputSpec(min_ndim=2, axes={-1: 4}), 'supports_masking': True, 'stateful': False, '_trainable_weights': [Parameter('dense_1/kernel', [], [4 x 5]), Parameter('dense_1/bias', [], [5])], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d0f50fb38>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d085d1a90>], 'name': 'dense_1', 'trainable': True, 'batch_input_shape': (None, 4), 'dtype': 'float32', '_initial_weights': None, 'units': 5, 'activation': <function relu at 0x7f7d252331e0>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7f7d085d19e8>, 'bias_initializer': <keras.initializers.Zeros object at 0x7f7d085d1780>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': Parameter('dense_1/kernel', [], [4 x 5]), 'bias': Parameter('dense_1/bias', [], [5])}
<class 'sqlalchemy.sql.selectable.CTE'>
ABSTRACT_GENERATE_CTE keras_input keras_input_1 5 False False
ABSTRACT_GENERATE_SIMPLE_CTE keras_input_1 5
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
LAYER_GENERATE_CODE_START dense_1 (None, 4)
LAYER_GENERATE_CODE_DUMP_LAYER_INFO dense_1 (None, 4)  [5] (None, 5)
['keras_input_1.KEY', 'keras_input_1.sepal length_cm', 'keras_input_1.sepal width_cm', 'keras_input_1.petal length_cm', 'keras_input_1.petal width_cm']
(4, 5) (5,)
(4, 5) 5
ABSTRACT_GENERATE_CTE layer_dense_1 layer_dense_1 6 False False
ABSTRACT_GENERATE_SIMPLE_CTE layer_dense_1 6
CHECK_TEMP_TABLES_START dense_1 []
CHECK_TEMP_TABLES_END dense_1 []
GENERATE_ACTIVATION_FUNCTION_START relu 6
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu output_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu output_2
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu output_3
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu output_4
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu output_5
ABSTRACT_GENERATE_CTE activation_relu activation_relu 6 True False
ABSTRACT_GENERATE_SIMPLE_CTE activation_relu 6
GENERATE_ACTIVATION_FUNCTION_END relu 6
CHECK_TEMP_TABLES_START dense_1 [None]
CHECK_TEMP_TABLES_END dense_1 [None]
CHECK_TEMP_TABLES_START dense_1 [None]
CHECK_TEMP_TABLES_END dense_1 [None]
CHECK_TEMP_TABLES_START dense_1 [None]
CHECK_TEMP_TABLES_END dense_1 [None]
CHECK_TEMP_TABLES_START dense_1 [None]
CHECK_TEMP_TABLES_END dense_1 [None]
doGenerateCode_CTE dense_1 activation_relu <class 'sqlalchemy.sql.selectable.CTE'> 6
doGenerateCode_TEMP dense_1 [None]
LAYER_GENERATE_CODE_END dense_1 [None]
GENERATING_LAYER 1 dropout_1 <class 'keras.layers.core.Dropout'> {'input_spec': None, 'supports_masking': True, 'stateful': False, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d085d1a90>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d085831d0>], 'name': 'dropout_1', 'trainable': True, '_initial_weights': None, 'rate': 0.3, 'noise_shape': None, 'seed': None}
<class 'sqlalchemy.sql.selectable.CTE'>
ABSTRACT_GENERATE_CTE activation_relu activation_relu_1 6 False False
ABSTRACT_GENERATE_SIMPLE_CTE activation_relu_1 6
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dropout'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dropout'>
LAYER_GENERATE_CODE_START dropout_1 (None, 5)
LAYER_GENERATE_CODE_DUMP_LAYER_INFO dropout_1 (None, 5)  [6] (None, 5)
CHECK_TEMP_TABLES_START dropout_1 []
CHECK_TEMP_TABLES_END dropout_1 []
CHECK_TEMP_TABLES_START dropout_1 []
CHECK_TEMP_TABLES_END dropout_1 []
doGenerateCode_CTE dropout_1 activation_relu_1 <class 'sqlalchemy.sql.selectable.CTE'> 6
doGenerateCode_TEMP dropout_1 []
LAYER_GENERATE_CODE_END dropout_1 []
GENERATING_LAYER 2 dense_2 <class 'keras.layers.core.Dense'> {'input_spec': InputSpec(min_ndim=2, axes={-1: 5}), 'supports_masking': True, 'stateful': False, '_trainable_weights': [Parameter('dense_2/kernel', [], [5 x 3]), Parameter('dense_2/bias', [], [3])], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d085831d0>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d08583390>], 'name': 'dense_2', 'trainable': True, '_initial_weights': None, 'units': 3, 'activation': <function linear at 0x7f7d25233400>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7f7d08583128>, 'bias_initializer': <keras.initializers.Zeros object at 0x7f7d085830f0>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': Parameter('dense_2/kernel', [], [5 x 3]), 'bias': Parameter('dense_2/bias', [], [3])}
<class 'sqlalchemy.sql.selectable.CTE'>
ABSTRACT_GENERATE_CTE activation_relu_1 activation_relu_1_1 6 False False
ABSTRACT_GENERATE_SIMPLE_CTE activation_relu_1_1 6
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
LAYER_GENERATE_CODE_START dense_2 (None, 5)
LAYER_GENERATE_CODE_DUMP_LAYER_INFO dense_2 (None, 5)  [6] (None, 3)
['activation_relu_1_1.KEY', 'activation_relu_1_1.output_1', 'activation_relu_1_1.output_2', 'activation_relu_1_1.output_3', 'activation_relu_1_1.output_4', 'activation_relu_1_1.output_5']
(5, 3) (3,)
(5, 3) 6
ABSTRACT_GENERATE_CTE layer_dense_2 layer_dense_2 4 False False
ABSTRACT_GENERATE_SIMPLE_CTE layer_dense_2 4
CHECK_TEMP_TABLES_START dense_2 []
CHECK_TEMP_TABLES_END dense_2 []
GENERATE_ACTIVATION_FUNCTION_START linear 4
CHECK_TEMP_TABLES_START dense_2 []
CHECK_TEMP_TABLES_END dense_2 []
CHECK_TEMP_TABLES_START dense_2 []
CHECK_TEMP_TABLES_END dense_2 []
CHECK_TEMP_TABLES_START dense_2 []
CHECK_TEMP_TABLES_END dense_2 []
CHECK_TEMP_TABLES_START dense_2 []
CHECK_TEMP_TABLES_END dense_2 []
doGenerateCode_CTE dense_2 layer_dense_2 <class 'sqlalchemy.sql.selectable.CTE'> 4
doGenerateCode_TEMP dense_2 []
LAYER_GENERATE_CODE_END dense_2 []
GENERATING_LAYER 3 activation_1 <class 'keras.layers.core.Activation'> {'input_spec': None, 'supports_masking': True, 'stateful': False, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f7d08583390>], '_outbound_nodes': [], 'name': 'activation_1', 'trainable': True, '_initial_weights': None, 'activation': <function softmax at 0x7f7d25223ea0>}
<class 'sqlalchemy.sql.selectable.CTE'>
ABSTRACT_GENERATE_CTE layer_dense_2 layer_dense_2_1 4 False False
ABSTRACT_GENERATE_SIMPLE_CTE layer_dense_2_1 4
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Activation'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Activation'>
LAYER_GENERATE_CODE_START activation_1 (None, 3)
LAYER_GENERATE_CODE_DUMP_LAYER_INFO activation_1 (None, 3)  [4] (None, 3)
COMPUTE_ACTIVATION <function softmax at 0x7f7d25223ea0> <class 'function'> softmax
CHECK_TEMP_TABLES_START activation_1 []
CHECK_TEMP_TABLES_END activation_1 []
GENERATE_ACTIVATION_FUNCTION_START softmax 4
ABSTRACT_GENERATE_CTE score_soft_max_step1 score_soft_max_step1 7 False False
ABSTRACT_GENERATE_SIMPLE_CTE score_soft_max_step1 7
ABSTRACT_GENERATE_CTE score_class_union_soft score_class_union_soft 3 False False
ABSTRACT_GENERATE_SIMPLE_CTE score_class_union_soft 3
ABSTRACT_GENERATE_CTE score_soft_max score_soft_max 1 False False
ABSTRACT_GENERATE_SIMPLE_CTE score_soft_max 1
['score_soft_max.KEY', 'score_soft_max."Score_0"', 'score_soft_max."exp_Score_0"', 'score_soft_max."Score_1"', 'score_soft_max."exp_Score_1"', 'score_soft_max."Score_2"', 'score_soft_max."exp_Score_2"', 'score_soft_max.KEY_sum', 'score_soft_max."sum_ExpScore"']
ABSTRACT_GENERATE_CTE layer_softmax layer_softmax 4 True False
ABSTRACT_GENERATE_SIMPLE_CTE layer_softmax 4
CHECK_TEMP_TABLES_START activation_1 [None]
CHECK_TEMP_TABLES_END activation_1 [None]
CHECK_TEMP_TABLES_START activation_1 [None]
CHECK_TEMP_TABLES_END activation_1 [None]
CHECK_TEMP_TABLES_START activation_1 [None]
CHECK_TEMP_TABLES_END activation_1 [None]
CHECK_TEMP_TABLES_START activation_1 [None]
CHECK_TEMP_TABLES_END activation_1 [None]
doGenerateCode_CTE activation_1 layer_softmax <class 'sqlalchemy.sql.selectable.CTE'> 4
doGenerateCode_TEMP activation_1 [None]
LAYER_GENERATE_CODE_END activation_1 [None]
ABSTRACT_GENERATE_CTE orig_cte orig_cte 13 False False
ABSTRACT_GENERATE_SIMPLE_CTE orig_cte 13
ABSTRACT_GENERATE_CTE score_class_union score_class_union 5 False False
ABSTRACT_GENERATE_SIMPLE_CTE score_class_union 5
ABSTRACT_GENERATE_CTE score_max score_max 1 False False
ABSTRACT_GENERATE_SIMPLE_CTE score_max 1
ABSTRACT_GENERATE_CTE union_with_max union_with_max 1 False False
ABSTRACT_GENERATE_SIMPLE_CTE union_with_max 1
['KEY_u', 'class', 'LogProba', 'Proba', 'Score', 'KEY', 'Score_0', 'Score_1', 'Score_2', 'Proba_0', 'Proba_1', 'Proba_2', 'LogProba_0', 'LogProba_1', 'LogProba_2', 'Decision', 'DecisionProba', 'KEY_m', 'max_Proba']
ABSTRACT_GENERATE_CTE arg_max_cte arg_max_cte 1 False False
ABSTRACT_GENERATE_SIMPLE_CTE arg_max_cte 1
KERAS_CODE_GENERATION_END <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
DUMP_RESULT_CLASSES : [0 1 2]
DUMP_RESULT_KEY_EXPRESSIONS : ['KEY']
DUMP_RESULT_CLASS_EXPRESSIONS : Score 0 arg_max_cte."Score_0"
DUMP_RESULT_CLASS_EXPRESSIONS : Score 1 arg_max_cte."Score_1"
DUMP_RESULT_CLASS_EXPRESSIONS : Score 2 arg_max_cte."Score_2"
DUMP_RESULT_CLASS_EXPRESSIONS : Proba 0 arg_max_cte."Proba_0"
DUMP_RESULT_CLASS_EXPRESSIONS : Proba 1 arg_max_cte."Proba_1"
DUMP_RESULT_CLASS_EXPRESSIONS : Proba 2 arg_max_cte."Proba_2"
DUMP_RESULT_CLASS_EXPRESSIONS : LogProba 0 CASE WHEN (arg_max_cte."Proba_0" IS NULL OR arg_max_cte."Proba_0" > :param_1) THEN ln(arg_max_cte."Proba_0") ELSE :param_2 END
DUMP_RESULT_CLASS_EXPRESSIONS : LogProba 1 CASE WHEN (arg_max_cte."Proba_1" IS NULL OR arg_max_cte."Proba_1" > :param_1) THEN ln(arg_max_cte."Proba_1") ELSE :param_2 END
DUMP_RESULT_CLASS_EXPRESSIONS : LogProba 2 CASE WHEN (arg_max_cte."Proba_2" IS NULL OR arg_max_cte."Proba_2" > :param_1) THEN ln(arg_max_cte."Proba_2") ELSE :param_2 END
DUMP_RESULT_AGGREGATED_CLASS_EXPRESSIONS : best_class_by_Proba arg_max_cte."arg_max_Proba"
DUMP_RESULT_AGGREGATED_CLASS_EXPRESSIONS : best_Proba arg_max_cte."max_Proba"
DUMP_RESULT_DECISION_EXPRESSION : arg_max_cte."arg_max_Proba"
DUMP_RESULT_DECISION_PROBABILITY_EXPRESSION : arg_max_cte."max_Proba"
DUMP_RESULT_REG_EXPRESSIONS : None
DUMP_RESULT_FEATURE_EXPRESSIONS : 0
DUMP_TEMP_TABLES : [None, None, None, None, None, None, None]
DUMP_RESULT_TEMP_TABLE : 0 7 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 1 7 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 2 7 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 3 7 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 4 7 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 5 7 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 6 7 <class 'NoneType'> None
0 None
1 None
2 None
3 None
4 None
5 None
6 None
TEMP_SQLS []
FINAL_SQL WITH keras_input AS
(SELECT "ADS"."KEY"...ba" AS "DecisionProba"
FROM arg_max_cte

In [10]:
print(lSQL)

WITH keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."sepal length_cm" AS "sepal length_cm", "ADS"."sepal width_cm" AS "sepal width_cm", "ADS"."petal length_cm" AS "petal length_cm", "ADS"."petal width_cm" AS "petal width_cm"
FROM iris AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."sepal length_cm" AS "sepal length_cm", keras_input."sepal width_cm" AS "sepal width_cm", keras_input."petal length_cm" AS "petal length_cm", keras_input."petal width_cm" AS "petal width_cm"
FROM keras_input),
layer_dense_1 AS
(SELECT keras_input_1."KEY" AS "KEY", -0.042614053934812546 + 0.22980284690856934 * keras_input_1."sepal length_cm" + 0.4737735390663147 * keras_input_1."sepal width_cm" + -0.7232964038848877 * keras_input_1."petal length_cm" + -0.5342894196510315 * keras_input_1."petal width_cm" AS output_1, 0.0 + 0.06646186113357544 * keras_input_1."sepal length_cm" + -0.7361471652984619 * keras_input_1."sepal width_cm" + -0.8049471378326416 * keras_input_1."petal length_cm" + -0.17127418518066406 * keras_input_1."petal width_cm" AS output_2, 0.0 + -0.20495164394378662 * keras_input_1."sepal length_cm" + -0.10406327247619629 * keras_input_1."sepal width_cm" + -0.5911029577255249 * keras_input_1."petal length_cm" + 0.6930747032165527 * keras_input_1."petal width_cm" AS output_3, 0.0 + -0.48181581497192383 * keras_input_1."sepal length_cm" + 0.7527362704277039 * keras_input_1."sepal width_cm" + -0.48882758617401123 * keras_input_1."petal length_cm" + 0.31392812728881836 * keras_input_1."petal width_cm" AS output_4, -0.036771733313798904 + -0.22874444723129272 * keras_input_1."sepal length_cm" + -0.4114094078540802 * keras_input_1."sepal width_cm" + 0.5913035869598389 * keras_input_1."petal length_cm" + 0.06757919490337372 * keras_input_1."petal width_cm" AS output_5
FROM keras_input_1),
activation_relu AS
(SELECT layer_dense_1."KEY" AS "KEY", greatest(layer_dense_1.output_1, 0) AS output_1, greatest(layer_dense_1.output_2, 0) AS output_2, greatest(layer_dense_1.output_3, 0) AS output_3, greatest(layer_dense_1.output_4, 0) AS output_4, greatest(layer_dense_1.output_5, 0) AS output_5
FROM layer_dense_1),
activation_relu_1 AS
(SELECT activation_relu."KEY" AS "KEY", activation_relu.output_1 AS output_1, activation_relu.output_2 AS output_2, activation_relu.output_3 AS output_3, activation_relu.output_4 AS output_4, activation_relu.output_5 AS output_5
FROM activation_relu),
activation_relu_1_1 AS
(SELECT activation_relu_1."KEY" AS "KEY", activation_relu_1.output_1 AS output_1, activation_relu_1.output_2 AS output_2, activation_relu_1.output_3 AS output_3, activation_relu_1.output_4 AS output_4, activation_relu_1.output_5 AS output_5
FROM activation_relu_1),
layer_dense_2 AS
(SELECT activation_relu_1_1."KEY" AS "KEY", 0.009257111698389053 + 0.018175268545746803 * activation_relu_1_1.output_1 + 0.7939107418060303 * activation_relu_1_1.output_2 + -0.6308961510658264 * activation_relu_1_1.output_3 + -0.1009323000907898 * activation_relu_1_1.output_4 + 0.27235153317451477 * activation_relu_1_1.output_5 AS output_1, 0.023134823888540268 + 0.34523987770080566 * activation_relu_1_1.output_1 + -0.19266217947006226 * activation_relu_1_1.output_2 + 0.8261514902114868 * activation_relu_1_1.output_3 + -0.6686320900917053 * activation_relu_1_1.output_4 + -0.3743988871574402 * activation_relu_1_1.output_5 AS output_2, -0.02894238568842411 + 0.24470645189285278 * activation_relu_1_1.output_1 + 0.07707768678665161 * activation_relu_1_1.output_2 + 0.45354053378105164 * activation_relu_1_1.output_3 + 0.07537907361984253 * activation_relu_1_1.output_4 + 0.8609433770179749 * activation_relu_1_1.output_5 AS output_3
FROM activation_relu_1_1),
layer_dense_2_1 AS
(SELECT layer_dense_2."KEY" AS "KEY", layer_dense_2.output_1 AS output_1, layer_dense_2.output_2 AS output_2, layer_dense_2.output_3 AS output_3
FROM layer_dense_2),
score_soft_max_step1 AS
(SELECT layer_dense_2_1."KEY" AS "KEY", layer_dense_2_1.output_1 AS "Score_0", exp(least(greatest(-100.0, layer_dense_2_1.output_1), 100.0)) AS "exp_Score_0", layer_dense_2_1.output_2 AS "Score_1", exp(least(greatest(-100.0, layer_dense_2_1.output_2), 100.0)) AS "exp_Score_1", layer_dense_2_1.output_3 AS "Score_2", exp(least(greatest(-100.0, layer_dense_2_1.output_3), 100.0)) AS "exp_Score_2"
FROM layer_dense_2_1),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_Score" AS "exp_Score"
FROM (SELECT score_soft_max_step1."KEY" AS "KEY", 0 AS class, score_soft_max_step1."exp_Score_0" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 1 AS class, score_soft_max_step1."exp_Score_1" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 2 AS class, score_soft_max_step1."exp_Score_2" AS "exp_Score"
FROM score_soft_max_step1) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_step1."KEY" AS "KEY", score_soft_max_step1."Score_0" AS "Score_0", score_soft_max_step1."exp_Score_0" AS "exp_Score_0", score_soft_max_step1."Score_1" AS "Score_1", score_soft_max_step1."exp_Score_1" AS "exp_Score_1", score_soft_max_step1."Score_2" AS "Score_2", score_soft_max_step1."exp_Score_2" AS "exp_Score_2", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpScore" AS "sum_ExpScore"
FROM score_soft_max_step1 LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_Score") AS "sum_ExpScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_step1."KEY" = sum_exp_t."KEY_sum"),
layer_softmax AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."exp_Score_0" / score_soft_max."sum_ExpScore" AS output_1, score_soft_max."exp_Score_1" / score_soft_max."sum_ExpScore" AS output_2, score_soft_max."exp_Score_2" / score_soft_max."sum_ExpScore" AS output_3
FROM score_soft_max),
orig_cte AS
(SELECT layer_softmax."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_0", CAST(NULL AS FLOAT) AS "Score_1", CAST(NULL AS FLOAT) AS "Score_2", layer_softmax.output_1 AS "Proba_0", layer_softmax.output_2 AS "Proba_1", layer_softmax.output_3 AS "Proba_2", CAST(NULL AS FLOAT) AS "LogProba_0", CAST(NULL AS FLOAT) AS "LogProba_1", CAST(NULL AS FLOAT) AS "LogProba_2", CAST(NULL AS BIGINT) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM layer_softmax),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 0 AS class, orig_cte."LogProba_0" AS "LogProba", orig_cte."Proba_0" AS "Proba", orig_cte."Score_0" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 1 AS class, orig_cte."LogProba_1" AS "LogProba", orig_cte."Proba_1" AS "Proba", orig_cte."Score_1" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 2 AS class, orig_cte."LogProba_2" AS "LogProba", orig_cte."Proba_2" AS "Proba", orig_cte."Score_2" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_0" AS "Score_0", orig_cte."Score_1" AS "Score_1", orig_cte."Score_2" AS "Score_2", orig_cte."Proba_0" AS "Proba_0", orig_cte."Proba_1" AS "Proba_1", orig_cte."Proba_2" AS "Proba_2", orig_cte."LogProba_0" AS "LogProba_0", orig_cte."LogProba_1" AS "LogProba_1", orig_cte."LogProba_2" AS "LogProba_2", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Proba" AS "max_Proba"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Proba") AS "max_Proba"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba"
FROM score_class_union LEFT OUTER JOIN score_max ON score_class_union."KEY_u" = score_max."KEY"),
arg_max_cte AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba", "arg_max_t_Proba"."KEY_Proba" AS "KEY_Proba", "arg_max_t_Proba"."arg_max_Proba" AS "arg_max_Proba"
FROM score_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Proba", max(union_with_max.class) AS "arg_max_Proba"
FROM union_with_max
WHERE union_with_max."max_Proba" <= union_with_max."Proba" GROUP BY union_with_max."KEY") AS "arg_max_t_Proba" ON score_max."KEY" = "arg_max_t_Proba"."KEY_Proba")
 SELECT arg_max_cte."KEY" AS "KEY", arg_max_cte."Score_0" AS "Score_0", arg_max_cte."Score_1" AS "Score_1", arg_max_cte."Score_2" AS "Score_2", arg_max_cte."Proba_0" AS "Proba_0", arg_max_cte."Proba_1" AS "Proba_1", arg_max_cte."Proba_2" AS "Proba_2", CASE WHEN (arg_max_cte."Proba_0" IS NULL OR arg_max_cte."Proba_0" > 0.0) THEN ln(arg_max_cte."Proba_0") ELSE -1.79769313486231e+308 END AS "LogProba_0", CASE WHEN (arg_max_cte."Proba_1" IS NULL OR arg_max_cte."Proba_1" > 0.0) THEN ln(arg_max_cte."Proba_1") ELSE -1.79769313486231e+308 END AS "LogProba_1", CASE WHEN (arg_max_cte."Proba_2" IS NULL OR arg_max_cte."Proba_2" > 0.0) THEN ln(arg_max_cte."Proba_2") ELSE -1.79769313486231e+308 END AS "LogProba_2", arg_max_cte."arg_max_Proba" AS "Decision", arg_max_cte."max_Proba" AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [11]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(iris.data);
lTable.columns = lMetaData['features']
lTable['TGT'] = iris.target
lTable['KEY'] = range(iris.data.shape[0])
lTable.to_sql(lMetaData['table'] , conn,   if_exists='replace', index=False)

In [12]:
sql_output = pd.read_sql(lSQL , conn);
conn.close()

In [13]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.324453,0.214350,0.461197,-1.125615,-1.540146,-0.773930,2,0.461197
74,74,None,None,None,0.335966,0.340661,0.323374,-1.090747,-1.076869,-1.128946,1,0.340661
9,9,None,None,None,0.254071,0.409067,0.336862,-1.370140,-0.893877,-1.088082,1,0.409067
88,88,None,None,None,0.335966,0.340661,0.323374,-1.090747,-1.076869,-1.128946,1,0.340661
25,25,None,None,None,0.262164,0.401868,0.335967,-1.338784,-0.911631,-1.090741,1,0.401868
5,5,None,None,None,0.244108,0.418084,0.337808,-1.410144,-0.872073,-1.085277,1,0.418084
48,48,None,None,None,0.237207,0.424435,0.338358,-1.438822,-0.856997,-1.083650,1,0.424435
117,117,None,None,None,0.320468,0.200192,0.479339,-1.137972,-1.608477,-0.735346,2,0.479339
83,83,None,None,None,0.326860,0.224292,0.448848,-1.118222,-1.494808,-0.801071,2,0.448848
105,105,None,None,None,0.304021,0.157835,0.538144,-1.190658,-1.846207,-0.619629,2,0.538144
27,27,None,None,None,0.243274,0.418847,0.337879,-1.413568,-0.870249,-1.085067,1,0.418847
64,64,None,None,None,0.335966,0.340661,0.323374,-1.090747,-1.076869,-1.128946,1,0.340661

# Keras Prediction

In [14]:
keras_output = pd.DataFrame()
keras_output_key = pd.DataFrame(list(range(iris.data.shape[0])), columns=['KEY']);
keras_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
keras_output_proba = pd.DataFrame(clf.predict_proba(iris.data), columns=['Proba_0', 'Proba_1', 'Proba_2'])
keras_output = pd.concat([keras_output_key, keras_output_score, keras_output_proba] , axis=1)
for class_label in [0, 1, 2]:
    keras_output['LogProba_' + str(class_label)] = np.log(keras_output_proba['Proba_' + str(class_label)])
keras_output['Decision'] = clf.predict(iris.data)
keras_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.324453,0.214350,0.461197,-1.125615,-1.540146,-0.773930,2
74,74,NaN,NaN,NaN,0.335966,0.340661,0.323374,-1.090747,-1.076869,-1.128946,1
9,9,NaN,NaN,NaN,0.254071,0.409067,0.336862,-1.370140,-0.893877,-1.088083,1
88,88,NaN,NaN,NaN,0.335966,0.340661,0.323374,-1.090747,-1.076869,-1.128946,1
25,25,NaN,NaN,NaN,0.262164,0.401868,0.335967,-1.338784,-0.911631,-1.090741,1
5,5,NaN,NaN,NaN,0.244108,0.418084,0.337808,-1.410144,-0.872074,-1.085278,1
48,48,NaN,NaN,NaN,0.237207,0.424435,0.338358,-1.438822,-0.856997,-1.083650,1
117,117,NaN,NaN,NaN,0.320468,0.200192,0.479339,-1.137972,-1.608477,-0.735346,2
83,83,NaN,NaN,NaN,0.326860,0.224292,0.448848,-1.118222,-1.494808,-0.801071,2
105,105,NaN,NaN,NaN,0.304021,0.157835,0.538144,-1.190658,-1.846207,-0.619629,2
27,27,NaN,NaN,NaN,0.243274,0.418847,0.337879,-1.413568,-0.870249,-1.085067,1
64,64,NaN,NaN,NaN,0.335966,0.340661,0.323374,-1.090747,-1.076869,-1.128946,1

# Comparing the SQL and Keras Predictions

In [15]:
sql_keras_join = keras_output.join(sql_output , how='left', on='KEY', lsuffix='_keras', rsuffix='_sql')

In [16]:
sql_keras_join.head(12)

,KEY_keras,Score_0_keras,Score_1_keras,Score_2_keras,Proba_0_keras,Proba_1_keras,Proba_2_keras,LogProba_0_keras,LogProba_1_keras,LogProba_2_keras,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
0,0,NaN,NaN,NaN,0.240719,0.421192,0.338089,-1.424126,-0.864667,-1.084445,...,None,None,0.240719,0.421192,0.338089,-1.424126,-0.864667,-1.084445,1,0.421192
1,1,NaN,NaN,NaN,0.255594,0.407704,0.336702,-1.364164,-0.897214,-1.088557,...,None,None,0.255594,0.407704,0.336702,-1.364164,-0.897214,-1.088557,1,0.407704
2,2,NaN,NaN,NaN,0.249156,0.413494,0.337351,-1.389678,-0.883113,-1.086632,...,None,None,0.249156,0.413494,0.337351,-1.389678,-0.883113,-1.086633,1,0.413494
3,3,NaN,NaN,NaN,0.260655,0.403202,0.336143,-1.344557,-0.908317,-1.090220,...,None,None,0.260655,0.403202,0.336142,-1.344557,-0.908317,-1.090220,1,0.403202
4,4,NaN,NaN,NaN,0.239462,0.422350,0.338188,-1.429360,-0.861922,-1.084153,...,None,None,0.239462,0.422350,0.338188,-1.429360,-0.861922,-1.084153,1,0.422350
5,5,NaN,NaN,NaN,0.244108,0.418084,0.337808,-1.410144,-0.872074,-1.085278,...,None,None,0.244108,0.418084,0.337808,-1.410144,-0.872073,-1.085277,1,0.418084
6,6,NaN,NaN,NaN,0.252013,0.410916,0.337072,-1.378276,-0.889367,-1.087460,...,None,None,0.252013,0.410916,0.337072,-1.378276,-0.889367,-1.087460,1,0.410916
7,7,NaN,NaN,NaN,0.248153,0.414402,0.337445,-1.393710,-0.880919,-1.086353,...,None,None,0.248153,0.414402,0.337445,-1.393710,-0.880919,-1.086353,1,0.414402
8,8,NaN,NaN,NaN,0.264379,0.399917,0.335704,-1.330372,-0.916498,-1.091526,...,None,None,0.264379,0.399917,0.335704,-1.330372,-0.916498,-1.091526,1,0.399917
9,9,NaN,NaN,NaN,0.254071,0.409067,0.336862,-1.370140,-0.893877,-1.088083,...,None,None,0.254071,0.409067,0.336862,-1.370140,-0.893877,-1.088082,1,0.409067
10,10,NaN,NaN,NaN,0.236034,0.425523,0.338443,-1.443778,-0.854436,-1.083400,...,None,None,0.236034,0.425523,0.338443,-1.443778,-0.854436,-1.083400,1,0.425523
11,11,NaN,NaN,NaN,0.254424,0.408751,0.336825,-1.368752,-0.894650,-1.088192,...,None,None,0.254424,0.408751,0.336825,-1.368752,-0.894650,-1.088191,1,0.408751

In [17]:
condition = (sql_keras_join.Decision_sql != sql_keras_join.Decision_keras)
sql_keras_join[condition]

Empty DataFrame
Columns: [KEY_keras, Score_0_keras, Score_1_keras, Score_2_keras, Proba_0_keras, Proba_1_keras, Proba_2_keras, LogProba_0_keras, LogProba_1_keras, LogProba_2_keras, Decision_keras, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]